<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Data Loader</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Stock Data Loader</h1>
    <button id="loadDataButton">Load Data</button>
    <div id="stockData"></div>

    <script>
        $('#loadDataButton').on('click', function() {
            $.ajax({
                url: "{% url 'load_data' %}",
                method: 'GET',
                success: function(data) {
                    let html = '<table border="1"><tr><th>Stock</th><th>Percentage Change</th></tr>';
                    for (let i = 0; i < data.length; i++) {
                        html += `<tr><td>${data[i].name}</td><td>${data[i].per_chg}</td></tr>`;
                    }
                    html += '</table>';
                    $('#stockData').html(html);
                },
                error: function(error) {
                    console.error(error);
                }
            });
        });
    </script>
</body>
</html>
