*.pyc
env/
res/
res/*
res
*.pyc
__pycache__
.coverage
!media/
media/*
!media/**/
.coverage
!media/placeholder
media/simulations/*
!media/simulations/
!media/simulations/placeholder
media/factsheet/*
!media/factsheet/
!media/factsheet/placeholder
media/attachments/*
!media/attachments/
!media/attachments/placeholder
media/tlh_pdf/*
!media/tlh_pdf/
!media/tlh_pdf/placeholder
media/rebalance_logs/*
!media/rebalance_logs/
!media/rebalance_logs/placeholder
media/compare_pdf/*
!media/compare_pdf/
!media/compare_pdf/placeholder
snippets/
cronjob/
*.sql
*.sqlite3
backup/
static/
__pycache__/
portfolio_bedb.sqlite3
*.env
.vscode
.idea
new_simulation.csv
simulation.csv
logs/**
!logs
!logs/placeholder
*.json
!*credentials.json
*.sql

independent_functions
*.sql
maintenance_mode_state.txt
/venv